<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <link
            href="https://fonts.googleapis.com/css?family=Open Sans"
            rel="stylesheet"
        />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/styles/blogs.css" />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
            integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
        <script src="/scripts/blogs.js"></script>
        <title>Blogs Page</title>
    </head>
    <body>
        <div class="headercontainer">
            <div class="header">
                <div class="logo">
                    <div style="font-weight: bold; font-size: 25px">CV</div>
                    <div
                        style="
                            margin-top: 8px;
                            font-weight: bold;
                            font-size: 20px;
                        "
                    >
                        genius
                    </div>
                </div>
                <div>
                    <a href="/resumes" class="headerbtn">Create CV</a>
                    <a class="headerbtn">Communication</a>
                    <a href="/blogs" class="headerbtn">Blog</a>
                    <a href="/pricing" class="headerbtn">Pricing</a>
                    <a href="/signup" class="headerbtn">Sign up</a>
                    <a href="/signin" class="headerbtn">Sign in</a>
                </div>
            </div>
        </div>

        <div class="yourcode">
            <!-- Neriman kodunu buraya yaz -->
        </div>

        <div class="footer">
            <div class="socials">
                <div class="twitter">
                    <i
                        class="fa-brands fa-square-twitter"
                        style="color: #bababa; font-size: 32px"
                    ></i>
                </div>
                <a class="github" target="_blank" href="https://github.com/The-Shower-Coders/CVGenius">
                    <i
                        class="fa-brands fa-square-github"
                        style="color: #bababa; font-size: 32px"
                    ></i>
                </a>
                <div class="linkedin">
                    <i
                        class="fa-brands fa-linkedin"
                        style="color: #bababa; font-size: 32px"
                    ></i>
                </div>
            </div>
            <div class="links">
                <div class="linkcontainer">
                    CVgenius
                    <div>Homepage</div>
                    <div>Resume Templates</div>
                    <div>CVTemplates</div>
                    <div>Cover Letters</div>
                </div>
                <div class="linkcontainer">
                    Learn
                    <div>Career Blog</div>
                    <div>How to Write a Resuume</div>
                    <div>How to Write CV</div>
                    <div>How to Write a Cover Letter</div>
                    <div>Resume Examples</div>
                    <div>Cover Letter Examples</div>
                </div>
                <div class="linkcontainer">
                    Other
                    <div>Pricing</div>
                    <div>About Us</div>
                    <div>Help Center</div>
                </div>
                <div class="linkcontainer">
                    Legal/Contact
                    <div>Terms of Use</div>
                    <div>Privacy Policy</div>
                    <div>Cookie Policy</div>
                    <div>cvgenius3@gmail.com</div>
                </div>
            </div>
        </div>
    </body>
</html>
