
<!DOCTYPE html>
<html lang="tr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"

    />

    
    <title>index page</title>
    <link rel="stylesheet" type="text/css" href="/styles/index.css" />

  </head>
  <body>
    <!--! header başlangıç  -->

    <header class="header">
      <a href="#" class="logo">
        <p>CvGenius</p>
      </a>
      <nav class="navbar">
        <a href="#" class="active">Ana Sayfa</a>
       
        <a href="#nasil">Nasıl Kullanılır?</a>
              
        
      </nav>

      <div class="buttons">
        <button id="search-btn">
          <i class="fas fa-search"></i>
        </button>
        <button id="cart-btn">
            <i onclick="window.location.replace('/signin')" class="fa-solid fa-arrow-right-to-bracket"></i>
        </button>
        
      </div>

      <div class="search-form">
        <input
          type="text"
          class="search-input"
          id="search-box"
          placeholder="search here"
        />
        <i class="fas fa-search"></i>
      </div>

    
      </div>
    </header>
    <!--! header bitiş  -->

    <!--! home sbaşlangıç  -->
    <section class="home" id="home">
      <div class="content">
        <h1 class="heading">CV<span>Genius</span></h1>
        <p>CVGenius'a Hoşgeldiniz!</p>
        <p>
            Kariyerinizi en üst seviyeye çıkarmak için keskin teknolojili yapay zeka destekli 
            CV oluşturucumuzla tanışın. İlgi çekici bir özgeçmişi baştan oluşturma sıkıntısına elveda deyin. 
            Akıllı algoritmalarımız becerilerinizi ve deneyiminizi analiz ederek dakikalar içinde kişiselleştirilmiş, 
            profesyonel CV'ler oluşturur. Rekabetten sıyrılın ve hayalini kurduğunuz işe kolayca ulaşın. Kullanıcı dostu 
            şablonlar ve gerçek zamanlı önerilerle, öne çıkan bir CV hazırlamak hiç bu kadar kolay olmamıştı. Bugün başlayın ve ,
            kariyer fırsatlarınızı yapay zeka teknolojimizle yükseltin!
        </p>
        <a href="#" class="btn">Şimdi Başla</a>
        <a href="#" class="btn">Giriş Yap veya Kaydol</a>
      </div>
    </section>


    <!--! home bitiş -->
    <section class="menu" id="nasil">
        <h1 class="heading">Nasıl <span>Kullanılır?</span></h1>
        
            <ul class="nasilya">
                
                

CVGenius, kariyerinizi ileri taşımak için yapay zeka destekli bir CV oluşturma platformudur. İşte sitenin nasıl kullanılacağına dair adımlar:
<li> <b>Hesap Oluşturma:</b> CVGenius'u kullanmaya başlamak için öncelikle bir hesap oluşturmanız gerekmektedir. Kayıt olmak için ana sayfada yer alan "Hesap Oluştur" butonuna tıklayın ve gerekli bilgileri doldurun.</li>
<li>Profil Bilgileri: Hesap oluşturduktan sonra profil bilgilerinizi ekleyin. İsim, iletişim bilgileri, beceriler, eğitim ve deneyim gibi alanlarda kendinizi tanımlayın. Bu bilgiler, CV'nizin oluşturulmasında kullanılacaktır.</li>
<li>CV Oluşturma: CVGenius size kullanıcı dostu şablonlar sunar. CV oluşturmak için "CV Oluştur" seçeneğine tıklayın ve istediğiniz şablonu seçin. Ardından, bilgilerinizi ilgili alanlara girin. Sistem, yapay zeka teknolojisiyle otomatik olarak CV'nizi oluşturacaktır.</li> 
<li>Kişiselleştirme: Oluşturulan CV'nizi kişiselleştirmek için farklı düzenleme seçeneklerini kullanabilirsiniz. Yazı tipi, renk, düzen ve bölüm sıralamasını isteğinize göre ayarlayabilirsiniz.</li>
<li>Önerileri İnceleme: CVGenius, CV'nizi optimize etmek için gerçek zamanlı öneriler sunar. Bu önerileri dikkate alarak CV'nizi daha etkileyici hale getirebilirsiniz. Dil ve yazım hatalarını kontrol etmek için sistemin sunduğu denetim araçlarını kullanmayı unutmayın</li>
<li>İndirme ve Paylaşma: CV'nizi tamamladıktan sonra "İndir" seçeneğiyle CV'nizi PDF formatında indirebilirsiniz. Ayrıca, CVGenius üzerinden oluşturulan CV'nizi sosyal medya platformlarında paylaşabilir veya doğrudan iş başvurularına ekleyebilirsiniz.</li>
CVGenius, kariyerinizi şekillendirmenize yardımcı olacak güçlü bir araçtır. Kullanıcı dostu arayüzü ve yapay zeka teknolojisi sayesinde etkileyici bir CV oluşturmak hiç bu kadar kolay olmamıştı. CVGenius'u kullanarak potansiyelinizi ortaya çıkarın ve kariyer hedeflerinize ulaşın! 
            </ul>

            
         </section>

    <!-- footer başlangıç -->
    <footer class="footer">
        <div class="footer-content">
          <div class="social-media">
            <a href="#" class="social-link"><i class="fab fa-facebook-f"></i> CVGeniusOfficial</a>
            <a href="#" class="social-link"><i class="fab fa-twitter"></i> @CVGenius</a>
            <a href="#" class="social-link"><i class="fab fa-instagram"></i> @CVGenius</a>
          </div>
          <div class="newsletter">
            <p class="newsletter-text">Öneriniz mi var? </p>
            <input type="email" class="newsletter-input" placeholder="E-postanızı girin, sizinle iletişime geçelim!">
            <button class="newsletter-button">Gönder</button>
          </div>
        </div>
      </footer>
      

  
    
  </body>
</html>