<!DOCTYPE html>
<html lang="en">
<head>
  <link href="https://fonts.cdnfonts.com/css/roboto" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Open Sans" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/styles/index.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
  <title>CVgenius</title>
</head>
<body>
  <main class="container">
    <video id="arkavideo" class="arkavideo" role="presentation" crossorigin="anonymous" playsinline preload="auto" muted
      loop tabindex="-1" autoplay src="/images/ofis1.mp4" style="
          height: 100%;
          width: 100%;
          object-fit: cover;
          object-position: center center;
          opacity: 0.9;
        "></video>
    <div class="headercontainer">
      <div class="header">
        <div class="logo">
          <div style="font-weight: bold; font-size: 25px;">CV</div>
          <div style="margin-top: 8px; font-weight: bold; font-size: 20px;">genius</div>
        </div>
        <div>
          <a href="/resumes" class="headerbtn">Create CV</a>
          <a href="/communication" class="headerbtn">Communication</a>
          <a href="/blogs" class="headerbtn">Blog</a>
          <a href="/pricing" class="headerbtn">Pricing</a>
          <a href="/signup" class="headerbtn">Sign up</a>
          <a href="/signin" class="headerbtn">Sign in</a>
        </div>
      </div>
    </div>
    <div class="wrapper">
      <span class="typingdemo">Create your professional CV here</span>
      <span class="title2">Start Preparing Now</span>
      <button class="create">Create your CV</button>
      <button class="scroll">
        <i class="fa-solid fa-arrow-down"></i>
      </button>
    </div>
    <div class="heading">
      <h2 class="titlecv">Create a standout CV</h2>
      <span class="şablon2">Increase your chances of getting hired by using professionally
        prepared CV samples. Having trouble preparing your resume? Get
        inspired by looking at the templates below!</span>
      <div class="swiper mySwiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img src="/images/cv1.png" alt="" />
          </div>
          <div class="swiper-slide">
            <img src="/images/cv2.png" alt="" />
          </div>
          <div class="swiper-slide">
            <img src="/images/cv3.png" alt="" />
          </div>
          <div class="swiper-slide">
            <img src="/images/cv4.png" alt="" />
          </div>
          <div class="swiper-slide">
            <img src="/images/cv5.png" alt="" />
          </div>
          <div class="swiper-slide">
            <img src="/images/cv6.png" alt="" />
          </div>
          <div class="swiper-slide">
            <img src="/images/cv7.png" alt="" />
          </div>
          <div class="swiper-slide">
            <img src="/images/cv8.png" alt="" />
          </div>
          <div class="swiper-slide">
            <img src="/images/cv9.png" alt="" />
          </div>
          <div class="swiper-slide">
            <img src="/images/cv10.png" alt="" />
          </div>
          <div class="swiper-slide">
            <img src="/images/cv11.png" alt="" />
          </div>
          <div class="swiper-slide">
            <img src="/images/cv12.png" alt="" />
          </div>
        </div>
      </div>
      <div>
        <span class="title4">See all our professional CV template examples.</span>
      </div>
      <div class="alttitle">
        <div class="headings">
          <span class="title5">CVgenius resume</span>
          <span class="title6">Why Use the Builder?</span>
        </div>
        <div class="cards">
          <div class="card">
            <div class="cardicon">
              <img width="100px" height="100px" src="/images/icons/free.png" alt="">
            </div>
            <div class="cardtitlecontainer">
              <div class="cardtitle">Free and Pro Plans</div>
              <div class="carddesc">
                We offer both free and premium features. Want your resume to
                have that extra punch? Upgrade to Premium. On a budget? That's
                OK too - you can use our resume buider completely free of
                charge.
              </div>
            </div>
          </div>
          <div class="card">
            <div class="cardicon">
              <img width="80px" height="72px" src="/images/icons/peoples.png" alt="">
            </div>
            <div class="cardtitlecontainer">
              <div class="cardtitle">Increased likelihood of being hired</div>
              <div class="carddesc">
                You will stand out from all other candidates with a
                professional CV that describes you very well. Also, your
                chances of being invited for an interview will increase by up
                to 65%.
              </div>
            </div>
          </div>
          <div class="card">
            <div class="cardicon">
              <img width="100px" height="100px" src="/images/icons/document.png" alt="">
            </div>
            <div class="cardtitlecontainer">
              <div class="cardtitle">Edit your applications</div>
              <div class="carddesc">
                It is very important to be able to organize your CV according
                to the job you are applying for. Thanks to your CV maker
                personal account, you will be able to create and edit several
                different CV.
              </div>
            </div>
          </div>
          <div class="card">
            <div class="cardicon">
              <img width="80px" height="80px" src="/images/icons/heart_monitor2.png" alt="">
            </div>
            <div class="cardtitlecontainer">
              <div class="cardtitle">ATS-Friendly</div>
              <div class="carddesc">
                Our resume templates are ATS-friendly. It means your resume
                won’t automatically be rejected because an ATS can’t read it.
              </div>
            </div>
          </div>
        </div>
        <h3>Our Users Are Being Hired at the World's Leading Companies.</h3>
        <div class="vizitcontainer">
          <div class="vizit">
            <div class="vizithead">
              <img class="img" src="/images/userprofiles/kullanıcı1.jpeg" />
              <div class="vizitrate">
                <div class="vizithood">Eren Kulaksız</div>    
                <div class="vizittitle">Turk Net - Front-End Developer</div>    
                <div style="color: gold;">
                  <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                </div>
              </div>
            </div>
            <div class="vizittitlecontainer">
              <div class="vizitdesc">
                With its Simple Design and easy-to-use online tool, Cvgenius allowed me to quickly create a professional resume with a personal touch, which ultimately helped me find my dream job. Now I am moving to Barcelona to work in a top company. I highly recommend CVgenius's Resume editor to all job seekers.
              </div>
            </div>
          </div>
          <div class="vizit">
            <div class="vizithead">
              <img class="img" src="/images/userprofiles/kullanıcı2.jpg" />
              <div class="vizitrate">
                <div class="vizithood">Mustafa Kaya</div>    
                <div class="vizittitle">Design expert</div>    
                <div style="color: gold;">
                  <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                </div>
              </div>
            </div>
            <div class="vizittitlecontainer">
              <div class="vizitdesc">
                With its Simple Design and easy-to-use online tool, Cvgenius allowed me to quickly create a professional resume with a personal touch, which ultimately helped me find my dream job. Now I am moving to Barcelona to work in a top company. I highly recommend CVgenius's Resume editor to all job seekers.
              </div>
            </div>
          </div>
          <div class="vizit">
            <div class="vizithead">
              <img class="img" src="/images/userprofiles/kullanıcı3.jpg" />
              <div class="vizitrate">
                <div class="vizithood">Auistin Foley</div>    
                <div class="vizittitle">Conversion Program Manager at Google</div>    
                <div style="color: gold;">
                  <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                </div>
              </div>
            </div>
            <div class="vizittitlecontainer">
              <div class="vizitdesc">
                I want to share my success story with you. I was a resume freak and created some MS Word based templates for myself. None of them worked very well until I created my CV using CVgenius May 13 A week after using CV I got interview calls from Google. It was an incredible help in taking my resume to the next level. Thanks for the great job.
              </div>
            </div>
          </div>
          <div class="vizit">
            <div class="vizithead">
              <img class="img" src="/images/userprofiles/kullanıcı4.jpg" />
              <div class="vizitrate">
                <div class="vizithood">İrem Engin</div>    
                <div class="vizittitle">Profession Marketing</div>    
                <div style="color: gold;">
                  <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                </div>
              </div>
            </div>
            <div class="vizittitlecontainer">
              <div class="vizitdesc">
                If you don't have an effective resume, your skill set won't help you land your dream job. I spent a whole year trying different types of templates and was unsuccessful. As soon as I used CVgneius' template, I started getting positive feedback from recruiters. and I was able to get my first job.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer">
      <div class="socials">
        <div class="twitter"><i class="fa-brands fa-square-twitter" style="color: #bababa;  font-size: 32px;"></i></div>
        <a class="github" target="_blank" href="https://github.com/The-Shower-Coders/CVGenius"><i class="fa-brands fa-square-github" style="color: #bababa;  font-size: 32px;"></i></a>
        <div class="linkedin"><i class="fa-brands fa-linkedin" style="color: #bababa; font-size: 32px;"></i></div>
      </div>
      <div class="links">
        <div class="linkcontainer">CVgenius
          <div>Homepage</div>
          <div>Resume Templates</div>
          <div>CVTemplates</div>
          <div>Cover Letters</div>
        </div>
        <div class="linkcontainer">Learn
          <div>Career Blog</div>
          <div>How to Write a Resuume</div>
          <div>How to Write CV</div>
          <div>How to Write a Cover Letter</div>
          <div>Resume Examples</div>
          <div>Cover Letter Examples</div>
        </div>
        <div class="linkcontainer">Other
          <div>Pricing</div>
          <div>About Us</div>
          <div>Help Center</div>
        </div>
        <div class="linkcontainer">Legal/Contact
          <div>Terms of Use</div>
          <div>Privacy Policy</div>
          <div>Cookie Policy</div>
          <div>cvgenius3@gmail.com</div>
        </div>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <script src="/scripts/index.js"></script>
  </main>
</body>
</html>
