
<!DOCTYPE html>
<html lang="tr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"

    />

    
    <title>index page</title>
    <link rel="stylesheet" type="text/css" href="styles/index.css" />

  </head>
  <body>
    <div id="body-bg">
     <!--! header başlangıç  -->

    <div class="header-top">
      <header class="header">
        <a href="#" class="logo">
          <p>CvGenius</p>
        </a>
        <nav class="navbar">
          <a href="#" class="active">Home Page</a>
         
          <a href="#nasil">How To Use?</a>
          <a href="#">Pricing</a>
                
        
        </nav>
  
        <div class="buttons">
          <button id="search-btn">
            <i class="fas fa-search"></i>
          </button>
          <button id="cart-btn">
              <i onclick="window.location.replace('/signin')" class="fa-solid fa-arrow-right-to-bracket"></i>
          </button>
          
        </div>
  
        <div class="search-form">
          <input
            type="text"
            class="search-input"
            id="search-box"
            placeholder="search here"
          />
          <i class="fas fa-search"></i>
        </div>
  
      
        
      </header>
    </div>
    <!--! header bitiş  -->

    <!--! home sbaşlangıç  -->
    <section class="home" id="home">
      <div class="content">
        <h1 class="heading">CV<span>Genius</span></h1>
        <p>Welcome to CVGenius</p>
        <p>
          Welcome to CVGenius!

          Meet our cutting-edge AI-powered CV builder to take your career to the next level. 
          Say goodbye to the hassle of recreating an engaging resume. Our intelligent algorithms analyze your skills and experience 
          to create personalized, professional CVs in minutes. Stand out from the competition and reach your dream job easily. 
          With user-friendly templates and real-time recommendations, creating a standout CV has never been easier. 
          Get started today and upgrade your career opportunities with our artificial intelligence technology!
        </p>
        <a href="#" class="btn">Start Now</a>
        <a href="#" class="btn">Sign in or Sign up</a>
      </div>
    </section>


    <!--! home bitiş -->
    <section class="menu" id="nasil">
        <h1 class="heading">How to <span>Use?</span></h1>
        
            <ul class="nasilya">
                
                
  CVGenius is an AI-powered CV creation platform to advance your career. Here are the steps on how to use the site:
<li>Account Creation:To start using CVGenius, you must first create an account. To register, click the "Create Account" button on the main page and fill in the required information.</li>
<li>Profile Information: Add your profile information after creating an account. Identify yourself in areas such as name, contact information, skills, education and experience. This information will be used in the creation of your CV.</li>
<li>CV Creation: CVGenius offers you user-friendly templates. To create a CV, click "Create CV" and select the template you want. Next, enter your information in the relevant fields. The system will automatically create your CV with artificial intelligence technology.</li> 
<li>Personalization: You can use different editing options to personalize your created CV. You can adjust the font, color, layout and section order according to your wishes.</li>
<li>Review Recommendations: CVGenius provides real-time recommendations to optimize your CV. You can make your CV more impressive by taking these suggestions into account. Don't forget to use the checking tools provided by the system to check for language and spelling errors.</li>
<li>Download and Share: After completing your CV, you can download it in PDF format with the "Download" option. You can also share your CV created through CVGenius on social media platforms or add it directly to job applications.</li>
CVGenius is a powerful tool to help shape your career. Creating an impressive CV has never been easier, thanks to its user-friendly interface and artificial intelligence technology. Unlock your potential and reach your career goals using CVGenius!
            </ul>

            
         </section>
    </div>
  </div>

    <!-- footer başlangıç -->
    <footer class="footer">
        <div class="footer-content">
          <div class="social-media">
            <a href="#" class="social-link"><i class="fab fa-facebook-f"></i> CVGeniusOfficial</a>
            <a href="#" class="social-link"><i class="fab fa-twitter"></i> @CVGenius</a>
            <a href="#" class="social-link"><i class="fab fa-instagram"></i> @CVGenius</a>
          </div>
          <div class="newsletter">
            <p class="newsletter-text">Do you have any suggestions? </p>
            <input type="email" class="newsletter-input" placeholder="Contact us!">
            <button class="newsletter-button">Send</button>
          </div>
        </div>
      </footer>
      

  
    
  </body>
</html>