<!DOCTYPE html>
<html lang="tr">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Pricing</title>
        <link
            href="https://fonts.googleapis.com/css?family=Open Sans"
            rel="stylesheet"
        />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
            integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
        <link rel="stylesheet" href="styles/pricing.css" />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        />
    </head>

    <body>
        <div id="body-bg"></div>
        <!--! header başlangıç  -->

        <div class="headercontainer">
            <div class="header">
                <div class="logo">
                    <div style="font-weight: bold; font-size: 25px">CV</div>
                    <div
                        style="
                            margin-top: 8px;
                            font-weight: bold;
                            font-size: 20px;
                        "
                    >
                        genius
                    </div>
                </div>
                <div>
                    <a href="/resumes" class="headerbtn">Create CV</a>
                    <a href="/communication" class="headerbtn">Communication</a>
                    <a href="/blogs" class="headerbtn">Blog</a>
                    <a href="/pricing" class="headerbtn">Pricing</a>
                    <a href="/signup" class="headerbtn">Sign up</a>
                    <a href="/signin" class="headerbtn">Sign in</a>
                </div>
            </div>
        </div>
        <!--! header bitiş  -->

        <div class="back">
            <div class="flex-column">
                <h1 class="pricing-title">
                    <b>Make the Most of Your Job Application</b>
                </h1>
                <br />
                <br />
                <div class="center">
                    <br /><br /><br /><br />
                    <h2 style="display: block; width: 900px">
                        Whether you prepare your CV quickly and easily with CV
                        maker examples or our professionals prepare your CV for
                        you, your CV will always stand out in many applications.
                        <br /><br /><br />
                    </h2>
                </div>
                <div class="pricing-container">
                    <div class="pricing-card">
                        <h2 class="plan">Free Plan</h2>
                        <br />
                        <p style="color: rgb(0, 0, 0)">
                            <b>Get started with our free features</b>
                        </p>
                        <br />
                        <p>
                            <b> Basic CV Templates:</b> Users can choose from
                            pre-built basic CV templates for free and create
                            their CV easily.
                        </p>
                        <br />
                        <p>
                            <b>Customization Options:</b> Users can personalize
                            their CVs with basic customization options such as
                            text, color and layout.
                        </p>
                        <br />
                        <p>
                            <b> Simple Tips and Tips:</b> Users can create a
                            more impressive CV by getting simple tips and
                            suggestions during the CV creation process.
                        </p>
                        <br />
                        <p>
                            <b> Preview and Download:</b> Users can preview the
                            CV they have created and download it in PDF format
                            for free.
                        </p>
                        <br />

                        <div class="price">Free</div>
                        <a href="#" class="button">Get Started</a>
                    </div>

                    <div class="pricing-card0">
                        <h2 class="plan">Basic Plan</h2>
                        <br />
                        <p style="color: black">
                            <b>
                                Get started with our basic features <br />
                                <br />
                                In addition to all the free features;</b
                            >
                        </p>
                        <br />

                        <p>
                            <b>Automatic Language Support:</b> The artificial
                            intelligence algorithm automatically analyzes the
                            user's inputs in the correct language and provides
                            language support.
                        </p>
                        <br />
                        <p>
                            <b>Premium Templates:</b> Premium users have access
                            to more professional and customizable CV templates.
                        </p>
                        <br />
                        <p>
                            <b>Advanced Customization: </b>Users can further
                            customize their CV and add custom colors and
                            designs.
                        </p>
                        <br />
                        <p>
                            <b>Priority Customer Support:</b> Premium users have
                            access to a more responsive customer support team.
                        </p>
                        <br />

                        <div class="price">$2.99/month</div>
                        <a href="#" class="button">Get Started</a>
                    </div>
                </div>
            </div>
        </div>
        <div style="margin-bottom: 150px;"></div>
        <div class="footer">
          <div class="socials">
              <div class="twitter">
                  <i
                      class="fa-brands fa-square-twitter"
                      style="color: #bababa; font-size: 32px"
                  ></i>
              </div>
              <a class="github" target="_blank" href="https://github.com/The-Shower-Coders/CVGenius">
                  <i
                      class="fa-brands fa-square-github"
                      style="color: #bababa; font-size: 32px"
                  ></i>
              </a>
              <div class="linkedin">
                  <i
                      class="fa-brands fa-linkedin"
                      style="color: #bababa; font-size: 32px"
                  ></i>
              </div>
          </div>
          <div class="links">
              <div class="linkcontainer">
                  CVgenius
                  <div>Homepage</div>
                  <div>Resume Templates</div>
                  <div>CVTemplates</div>
                  <div>Cover Letters</div>
              </div>
              <div class="linkcontainer">
                  Learn
                  <div>Career Blog</div>
                  <div>How to Write a Resuume</div>
                  <div>How to Write CV</div>
                  <div>How to Write a Cover Letter</div>
                  <div>Resume Examples</div>
                  <div>Cover Letter Examples</div>
              </div>
              <div class="linkcontainer">
                  Other
                  <div>Pricing</div>
                  <div>About Us</div>
                  <div>Help Center</div>
              </div>
              <div class="linkcontainer">
                  Legal/Contact
                  <div>Terms of Use</div>
                  <div>Privacy Policy</div>
                  <div>Cookie Policy</div>
                  <div>cvgenius3@gmail.com</div>
              </div>
          </div>
      </div>
      <script>
        $(".logo").click(() => window.location.href = '/')
      </script>
    </body>
</html>
