<!DOCTYPE html>
<html lang="tr">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>deneme</title>
  <link rel="stylesheet" href="pricing.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />

</head>

<body>

  <div id="body-bg">
  </div>
  <!--! header başlangıç  -->

  <div class="header-top">
    <header class="header">
      <a href="#" class="logo">
        <p class="cvgenius">CvGenius</p>
      </a>
      <nav class="navbar">
        <a href="#">Home </a>

        <a href="#nasil">How To Use?</a>
        <a href="#" class="active">Pricing</a>


      </nav>

      <div class="buttons">
        <button id="search-btn">
          <i class="fas fa-search"></i>
        </button>
        <button id="cart-btn">
          <i onclick="window.location.replace('/signin')" class="fa-solid fa-arrow-right-to-bracket"></i>
        </button>

      </div>

      <div class="search-form">
        <input type="text" class="search-input" id="search-box" placeholder="search here" />
        <i class="fas fa-search"></i>
      </div>



    </header>
  </div>
  <!--! header bitiş  -->

  <div class="back">
    <div class="flex-column">
      <h1 class="pricing-title"><b>Make the Most of Your Job Application</b></h1>
      <div class="center">
        <h2 style="display: block;width: 900px;">Whether you prepare your CV quickly and easily with CV maker examples
          or our professionals prepare your CV
          for you, your CV will always stand out in many applications. <br><br><br></h2>
      </div>
      <div class="pricing-container">
        <div class="pricing-card">
          <h2 class="plan">Free Plan</h2> <br>
          <p style="color: rgb(0, 0, 0);"> <b>Get started with our free features</b> </p> <br>
          <p> <b> Basic CV Templates:</b> Users can choose from pre-built basic CV templates for free and create their CV easily.</p><br>
          <p> <b>Customization Options:</b>  Users can personalize their CVs with basic customization options such as text, color and layout.</p><br> 
          <p><b> Simple Tips and Tips:</b> Users can create a more impressive CV by getting simple tips and suggestions during the CV creation process.</p><br>
           <p><b> Preview and Download:</b> Users can preview the CV they have created and download it in PDF format for free.</p><br>
        
          <div class="price">Free</div>
          <a href="#" class="button">Get Started</a>
        </div>

        <div class="pricing-card0">
          <h2 class="plan">Basic Plan</h2> <br>
          <p style="color: black;"> <b> Get started with our basic features <br> <br> In addition to all the free features;</b></p> <br>
          
          <p> <b>Automatic Language Support:</b>  The artificial intelligence algorithm automatically analyzes the user's inputs in the correct language and provides language support.</p><br>
          <p><b>Premium Templates:</b> Premium users have access to more professional and customizable CV templates.</p><br>
          <p><b>Advanced Customization: </b>Users can further customize their CV and add custom colors and designs.</p><br>
          <p><b>Priority Customer Support:</b> Premium users have access to a more responsive customer support team.</p><br>

          <div class="price">$2.99/month</div>
          <a href="#" class="button">Get Started</a>
        </div>
      </div>
    </div>
  </div>

  
</body>

</html>