<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Resumes</title>
        <link
            href="https://fonts.cdnfonts.com/css/hk-groteks?display=swap"
            rel="stylesheet"
        />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
            integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/3.6.172/pdf.min.js"
            integrity="sha512-KEoL9wKXt/fhlAfN+ZNXf3pI48aaQE9Qd5fihHY+5n5XLTSnyGJ0uKgUj//V6KAcjFwzAbCYYPKeGlFES/H5Ng=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        ></script>
        <link rel="stylesheet" href="/styles/resumes.css" />
        <script src="/scripts/resumes.js"></script>
    </head>
    <body>
        <div class="lds-grid"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
        <div class="widget">
            <div class="template-select">
                <div id="standart" class="template-option" active="true">
                    <img src="https://github.com/GroophyLifefor/KodluyoruzBitirme/assets/77299279/84562ca1-b2d0-48cd-95f1-5ce24ec80d8a" alt="">
                </div>
                <!-- <div id="soon" class="template-option" active="false">
                    <img src="https://github.com/GroophyLifefor/KodluyoruzBitirme/assets/77299279/84562ca1-b2d0-48cd-95f1-5ce24ec80d8a" alt="">
                </div> -->
            </div>
            <div class="center"><div class="create-btn">Create</div></div>
        </div>
        <div class="back">
            <div class="handpage">
                <div class="options">
                    <div class="logout">Logout</div>
                </div>
                <a href="/profile"><img id="userprofile"  /></a>
                <div class="handpage-inner">
                    <h3 style="margin-left: 10px">Resumes</h3>
                    <button id="new-project">Create a New Project</button>
                    <div id="pdfContainer"></div>
                </div>
            </div>
        </div>
    </body>
</html>
