body {
    margin: 0px;
    background-color: #242729;
    overflow: hidden;
}

.abs {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: absolute;
}

.none {
    display: none !important;
}

.center {
    display: flex;
    justify-content: center;
}

.flex {
    display: flex;
}

.vertical-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.max-height {
    height: 100vh;
}

.container-bg {
    display: flex;
    height: 100vh;
}

.left {
    width: 100%;
    min-width: 200px;
    max-width: 350px;
    height: 100vh;
    background-color: aliceblue;
    overflow: scroll;
}

@media (max-width: 699px) {
    body::before {
        content: "This page requires a minimum width of 700px.";
        display: block;
        text-align: center;
        padding: 50vh 80px;
        background-color: #f00;
        color: #fff;
        transition: background-color 0.5s ease;
    }

    body * {
        display: none;
    }
}

@media (min-width: 1601px) {
    .left {
        max-width: 500px !important;
    }
}

.right {
    width: 100%;
    height: 100%;
    inset: 0;
    background: linear-gradient(
        45deg,
        #f17c58,
        #e94584,
        #24aadb,
        #27dbb1,
        #ffdc18,
        #ff3706
    );
    background-size: 600% 100%;
    animation: gradient 16s linear infinite;
    animation-direction: alternate;
}

@keyframes gradient {
    0% {
        background-position: 0%;
    }
    100% {
        background-position: 100%;
    }
}

#pdf > canvas {
    height: 90vh;
    width: 100%;
    min-width: 485px;
    padding: 10px;
}

.collapsible-body {
    padding-right: 0px !important;
    user-select: none;
}

input,
.rm {
    width: calc(100% - 1rem) !important;
}

#download {
    backdrop-filter: grayscale(0.3) opacity(0.8);
    border-style: double;
    font-family: "Sans", sans-serif;
    margin-top: 0px;
    margin-right: 20px;
    text-align: center;
    border-radius: 7px;
    width: 160px;
    height: 25px;
    background-color: transparent;
    font-weight: 500;
    cursor: pointer;
    user-select: none;
    color: white;
    margin-left: calc(100% - 160px);
    margin-bottom: 10px;
}

#download:hover {
    inset: 0;
    background: linear-gradient(
        45deg,
        #f17c58,
        #e94584,
        #24aadb,
        #27dbb1,
        #ffdc18,
        #ff3706
    );
    background-size: 600% 100%;
    animation: gradient 16s linear infinite;
    animation-direction: alternate;
}

.main-collapsible {
    margin-top: 0px !important;
}

.min-width {
    min-width: 500px;
}

.tns-outer [aria-controls],
.tns-outer [data-action] {
    cursor: pointer;
    background-color: white;
    border-width: 1px;
    border-radius: 4px;
    margin-right: 2px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-weight: normal;
}

.flex-max {
    display: flex;
}

.flex-max > * {
    width: 100%;
}

.mr-1rem {
    margin-right: 1rem !important;
}

.back {
    margin: 5px 10px;
    user-select: none;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.5s ease;
}

.back:hover {
    background-color: #b9b9b9;
}

.back-text {
    margin-top: 1px;
    margin-left: 5px;
}

.logs {
    position: absolute;
    right: 0;
    bottom: 0;
    transform-origin: right bottom;
}

.array-item-stack {
    background-color: #24aadb;
}

.array-item-stack {
    background-color: #e4ebf2;
    padding: 5px 20px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.array-item-remove {
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin-left: 98%;
    border-radius: 5px;
    transition: background-color 0.5s ease;
}

.array-item-remove:hover {
    background-color: red;
}

.array-item-remove-left {
    background-color: black;
    width: 20px;
    height: 1px;
    transform: rotateZ(45deg) translateY(7px) translateX(7px);
}

.array-item-remove-right {
    background-color: black;
    width: 20px;
    height: 1px;
    transform: rotateZ(135deg) translateY(-7px) translateX(7px);
}

.collapsible-header {
    user-select: none;
}
