* {
    font-family: "Open Sans";
}
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: rgb(255, 255, 255);
}
.container {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.headercontainer {
    flex: 1;
    padding: 20px;
    padding-left: 4rem;
    padding-right: 4rem;
    position: sticky;
    top: 0;
    z-index: 9999;
}
.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    border-radius: 16px;
}
.headerbtn {
    color: black;
    background-color: transparent;
    border: 0;
    outline: 0;
    padding: 0.5rem 0.8rem;
    border-radius: 0.5rem;
    font-size: 12px;
    cursor: pointer;
    text-decoration: none;

    display: inline-block;
    position: relative;
}
.headerbtn:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}
.headerbtn:hover:after {
    width: 100%;
    left: 0;
}
.title {
    display: flex;
    justify-content: center;
    font-size: 25px;
    flex-direction: column;
    align-items: center;
}
.titlecv {
    font-size: 35px;
    color: rgb(8, 8, 8);
    justify-content: center;
    align-items: center;
}
.şablon2 {
    margin-bottom: 40px;
}
.create {
    background-color: #101011;
    border: 1px solid #141313;
    color: #f1f1f1;
    padding: 0.5rem 1rem;
    border-radius: 12px;
    margin-top: 1rem;
    width: 200px;
    height: 65px;
    font-size: 20px;
    backdrop-filter: blur(10px);
    margin-bottom: 300px;
    cursor: pointer;
}
.title2 {
    font-size: 27px;
    color: white;
    width: 18ch;
    animation: typing 2s steps(22), blink 0.5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
    border-right: 3px solid;
}
.wrapper {
    font-size: 35px;
    color: white;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.container1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 12rem;
    padding-right: 12rem;
    margin-bottom: 32px;
}
.card {
    display: flex;
    flex-direction: row;
    width: 40%;
    padding: 17px;
    border-radius: 12px;
    gap: 16px;
    margin-top: 15px;
}
.cardtitlecontainer {
    display: flex;
    flex-direction: column;
}

.cardicon {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    display: inline-block;
    position: relative;
}
.cardtitle {
    text-align: left;
    font-size: 1.8em;
}
.carddesc {
    text-align: left;
}
.swiper {
    width: 100%;
    height: 400px;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.swiper-slide img {
    display: block;
    height: 100%;
    object-fit: contain;
    border-radius: 12px;
    overflow: hidden;
}
.heading {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-bottom: 32px;
    color: rgb(0, 0, 0);
}
.arkavideo {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    z-index: -999;
}
.typingdemo {
    font-weight: bold;
    width: 27ch;
    animation: typing 2s steps(22), blink 0.5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-size: 50px;
}
.title4 {
    color: rgb(14, 13, 13);
    display: flex;
    align-items: center;
    margin-top: 20px;
}
@keyframes typing {
    from {
        width: 0;
    }
}
@keyframes blink {
    50% {
        border-color: transparent;
    }
}
.title5 {
    margin-top: 20px;
    font-size: 35px;
    font-weight: 800;
}
.title6 {
    font-size: 20px;
    font-weight: 800;
}
.alttitle {
    display: flex;
    flex-direction: column;
    margin-top: 32px;
    gap: 32px;
    width: 100%;
}
.alttitle .headings {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 32px;
    padding-right: 32px;
}
.cards {
    display: flex;
    padding-left: 32px;
    padding-right: 32px;
    gap: 10px;
    flex-wrap: wrap;
}
.scroll {
    width: 38px;
    height: 38px;
    border-radius: 100%;
    outline: 0;
    border: 0;
    cursor: pointer;

    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
}
.img {
    width: 80px;
    height: auto;
    display: flex;
    border-radius: 100%;
}
.vizithood {
    display: flex;
}
.footer {
    display: flex;
    flex-direction: column;
}
.socials {
    display: flex;
    flex-direction: row;
    gap: 16px;
    height: 100px;
    justify-content: center;
    align-items: center;
    background-color: #425061;
}
.links {
    display: grid;
    grid-template-columns: auto auto auto auto;
    align-content: start;
    background-color: #313b47;
    color: white;
}
.linkcontainer {
    padding: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.vizitcontainer {
    display: grid;
    flex-direction: row;
    gap: 16px;
    align-items: center;
    justify-content: center;
    width: 100%;
    grid-template-columns: auto auto auto auto;
}
.vizit {
    box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1),
        0 5px 15px rgba(0, 0, 0, 0.07);
    border-radius: 8px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.vizithead {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}
.vizittitlecontainer {
    margin-top: 16px;
}
.vizitrate {
    display: flex;
    flex-direction: column;
    gap: 6px;
    align-items: flex-start;
}
.vizithood {
    font-weight: bold;
    font-size: 20px;
}
