@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&display=swap');
/* START */
/* NAVBAR */
* {
  font-family: "Open Sans";
}
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
}
.headercontainer {
  flex: 1;
  padding: 20px;
  padding-left: 4rem;
  padding-right: 4rem;
  position: sticky;
  top: 0;
  z-index: 9999;
}
.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  user-select: none;
  cursor: pointer;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);
  border-radius: 16px;
}
.headerbtn {
  color: black;
  background-color: transparent;
  border: 0;
  outline: 0;
  padding: 0.5rem 0.8rem;
  border-radius: 0.5rem;
  font-size: 12px;
  cursor: pointer;
  text-decoration: none;

  display: inline-block;
  position: relative;
}
.headerbtn:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.headerbtn:hover:after {
  width: 100%;
  left: 0;
}
/* FOOTER */
.footer {
  display: flex;
  flex-direction: column;
}
.socials {
  display: flex;
  flex-direction: row;
  gap: 16px;
  height: 100px;
  justify-content: center;
  align-items: center;
  background-color: #425061;
}
.links {
  display: grid;
  grid-template-columns: auto auto auto auto;
  align-content: start;
  background-color: #313b47;
  color: white;
}
.linkcontainer {
  padding: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.vizitcontainer {
  display: grid;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: center;
  width: 100%;
  grid-template-columns: auto auto auto auto;
}
.vizit {
  box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1),
      0 5px 15px rgba(0, 0, 0, 0.07);
  border-radius: 8px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.vizithead {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}
.vizittitlecontainer {
  margin-top: 16px;
}
.vizitrate {
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: flex-start;
}
.vizithood {
  font-weight: bold;
  font-size: 20px;
}
/* END */

:root {
  --main-color: #504b4b;
  --black-color: #0e0e0e;
  --border: 0.1rem solid rgba(7, 7, 7, 0.4);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: none;
  transition: 0.2s ease;
}

#body-bg {
  background: linear-gradient(45deg,
      #f17c58,
      #e94584,
      #24aadb,
      #2cb494,
      #ffdc18,
      #ff3706);
  background-size: 600% 600%;
  animation: gradient 24s linear infinite;
  animation-direction: alternate;
  z-index: -999;
  width: 100%;
  height: 220vh;
  position: absolute;
  min-width: 650px;
}

@media (max-width: 899px) {
  #body-bg {
    height: 200vh;
  }
}

@media (max-width: 740px) {
  #body-bg {
    height: 240vh;
  }
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.center {
  display: flex;
  justify-content: center;
}

.pricing-title {
  text-align: center;
  display: block;
  font-size: 2em;
  padding: 40px;
  height: 30px;
  margin-top: 12px;
}

h2 {
  font-size: 20px;
  display: block;
  text-align: center;
  margin: 0;
  padding: 0 0 0px;
  line-height: 28px;
}

.back {
  /* position: absolute; */
  inset: 0;

}

.pricing-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 600% 100%;
  animation: gradient 3s linear infinite;
  animation-direction: alternate;

}

@keyframes gradient {
  0% {
    background-position: 0%;
  }

  100% {
    background-position: 100%;
  }
}

.pricing-card0 {
  width: 480px;
  height: fit-content;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 30px;
  text-align: center;
  background-color: #f9f9f9;
  margin: 30px;
}

.pricing-card0 {
  margin: 50px;
  background-color: #fff;
}

.pricing-card0 h2 {
  font-size: 24px;
  color: #333;
}

.pricing-card0:hover
{
    z-index:4;
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);  
    -moz-transform: scale(1.5);
    transform: scale(1.1);
}
.pricing-card:hover
{
    z-index:4;
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);  
    -moz-transform: scale(1.5);
    transform: scale(1.1);
}

.pricing-card0 p {
  font-size: 18.2px;
  color: #777;
}

.pricing-card0 .price {
  font-size: 36px;
  font-weight: bold;
  color: #333;
  margin: 20px 0;
}

.pricing-card0 .button {
  display: inline-block;
  padding: 10px 20px;
  background-color: cadetblue;
  color: #fff;
  text-decoration: none;
  border-radius: 15px;
}
.pricing-card0 .button:hover{
  z-index:4;
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);  
    -moz-transform: scale(1.5);
    transform: scale(1.1);
    color: #072b39;
}

.pricing-card .button:hover{
  z-index:4;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);  
    -moz-transform: scale(1.1);
    transform: scale(1.1);
    color: #072b39;
}
.pricing-card {
  width: 480px;
  height: fit-content;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 30px;
  text-align: center;
  background-color: #f9f9f9;
  margin: 50px;
}

.pricing-card h2 {
  font-size: 24px;
  color: #333;
}

.pricing-card p {
  font-size: 18.2px;
  color: #777;
}

.pricing-card .price {
  font-size: 36px;
  font-weight: bold;
  color: #333;
  margin: 20px 0;
}

.pricing-card .button {
  display: inline-block;
  padding: 10px 20px;
  background-color: cadetblue;
  color: #fff;
  text-decoration: none;
  border-radius: 15px;

}

.pricing-container .plan {
  font-size: 3rem;
  padding: 20px 20px;

}



.header-top {
  padding-top: 2rem;
}


/*! header start  */
a {
  font-size: 1.6rem;
}

header .logo p {
  font-size: 3rem;
  color: black;
}

a.logo {
  font-size: 2rem;
}

.fa-solid,
.fas {
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  font-size: xx-large;
}

/*! header end  */
