body {
    margin: 0;
}

.back {
    position: absolute;
    height: 100%;
    inset: 0;
    background: linear-gradient(
        45deg,
        #f17c58,
        #e94584,
        #24aadb,
        #27dbb1,
        #ffdc18,
        #ff3706
    );
    background-size: 600% 100%;
    animation: gradient 16s linear infinite;
    animation-direction: alternate;
    z-index: -999;
    transition: display .5s ease;
}

@keyframes gradient {
    0% {
        background-position: 0%;
    }
    100% {
        background-position: 100%;
    }
}

.handpage {
    position: absolute;
    width: calc(100vw - 50px);
    height: calc(100vh - 50px);
    background-color: white;

    margin-left: 50px;
    margin-top: 50px;
    border-top-left-radius: 20px;
}

.handpage > img {
    position: absolute;
    width: 50px;
    height: 50px;

    margin-left: calc(100vw - 115px);
    margin-top: 8px;

    border-radius: 50%;
}

.handpage-inner {
    margin: 30px;
}

#pdfContainer {
    display: flex;
    flex-wrap: wrap;

    overflow-y: scroll;
    height: calc(100vh - 220px);
}

#pdfContainer > div {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

canvas {
    width: 200px;
    height: 320px;
    margin-right: 10px;

    border-style: dotted;

    cursor: pointer;
}

#new-project {
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    width: 300px;
    height: 60px;
    padding: 8px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgb(37 99 235);
    color: white;
    border: 0;
    border-radius: 8px;
    outline: 0;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 20px;
    transform: translateZ(10px);
}

.options {
    position: absolute;
}

.logout {
    padding: 10px;
    width: 60px;
    height: 20px;
    border-radius: 10px;
    background-color: #e8e8e8;
    margin-top: 70px;
    margin-left: calc(100vw - 140px);
    text-align: center;
    transition: background-color 0.5s ease;
    cursor: pointer;
}

.logout:hover {
    background-color: red;
}

.widget {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    width: 60vw;
    height: 50vh;
    background-color: #27dbb1;
    display: none;
    transition: display .5s ease;
}

.back-blur {
    filter: blur(5px);
}

.template-select {
    margin-top: 25px;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.template-option > img {
    border-radius: 20px;
    width: 200px;
}

.template-option[active="true"] > img {
    width: 210px;
    box-shadow: 0 0 20px 10px gray;
}

.create-btn {
    background-color: #1e6b59;
    margin-top: 30px;
    border-radius: 20px;
    width: fit-content;
    padding: 20px;
    margin-left: 42%;
}

.create-btn {
    cursor: pointer;
}