/* START */
/* NAVBAR */
* {
    font-family: "Open Sans";
  }
  body {
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: rgb(186, 186, 186);
  }
  .headercontainer {
    flex: 1;
    padding: 20px;
    padding-left: 4rem;
    padding-right: 4rem;
    position: sticky;
    top: 0;
    z-index: 9999;
  }
  .logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    user-select: none;
    cursor: pointer;
  }
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    border-radius: 16px;
  }
  .headerbtn {
    color: black;
    background-color: transparent;
    border: 0;
    outline: 0;
    padding: 0.5rem 0.8rem;
    border-radius: 0.5rem;
    font-size: 12px;
    cursor: pointer;
    text-decoration: none;
  
    display: inline-block;
    position: relative;
  }
  .headerbtn:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
  .headerbtn:hover:after {
    width: 100%;
    left: 0;
  }
  /* FOOTER */
  .footer {
    display: flex;
    flex-direction: column;
  }
  .socials {
    display: flex;
    flex-direction: row;
    gap: 16px;
    height: 100px;
    justify-content: center;
    align-items: center;
    background-color: #425061;
  }
  .links {
    display: grid;
    grid-template-columns: auto auto auto auto;
    align-content: start;
    background-color: #313b47;
    color: white;
  }
  .linkcontainer {
    padding: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  .vizitcontainer {
    display: grid;
    flex-direction: row;
    gap: 16px;
    align-items: center;
    justify-content: center;
    width: 100%;
    grid-template-columns: auto auto auto auto;
  }
  .vizit {
    box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1),
        0 5px 15px rgba(0, 0, 0, 0.07);
    border-radius: 8px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .vizithead {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
  }
  .vizittitlecontainer {
    margin-top: 16px;
  }
  .vizitrate {
    display: flex;
    flex-direction: column;
    gap: 6px;
    align-items: flex-start;
  }
  .vizithood {
    font-weight: bold;
    font-size: 20px;
  }
  /* END */

body {
    margin: 0;
}

* {
    transition: opacity 1s ease;
}

#userprofile {
    cursor: pointer;
    position: absolute;
    width: 50px;
    height: 50px;

    margin-left: calc(100vw - 165px);
    margin-top: 8px;

    border-radius: 50%;
}

.back {
    position: absolute;
    height: 100%;
    inset: 0;
    background: linear-gradient(
        45deg,
        #f17c58,
        #e94584,
        #24aadb,
        #27dbb1,
        #ffdc18,
        #ff3706
    );
    background-size: 600% 100%;
    animation: gradient 16s linear infinite;
    animation-direction: alternate;
    /* z-index: -999; */
    transition: display 0.5s ease;
}

@keyframes gradient {
    0% {
        background-position: 0%;
    }
    100% {
        background-position: 100%;
    }
}

.handpage {
    position: absolute;
    width: calc(100vw - 100px);
    height: calc(100vh - 150px);
    background-color: white;

    margin: 120px 50px 50px 50px;
    border-radius: 20px;
}

.handpage-inner {
    margin: 30px;
}

#pdfContainer {
    display: flex;
    flex-wrap: wrap;

    overflow-y: scroll;
    height: calc(100vh - 330px);
}

#pdfContainer > div {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

canvas {
    width: 200px;
    height: 320px;
    margin-right: 10px;

    border-style: dotted;

    cursor: pointer;
}

#new-project {
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    width: 300px;
    height: 60px;
    padding: 8px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgb(37 99 235);
    color: white;
    border: 0;
    border-radius: 8px;
    outline: 0;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 20px;
    transform: translateZ(10px);
}

.options {
    position: absolute;
}

.logout {
    padding: 10px;
    width: 60px;
    height: 20px;
    border-radius: 10px;
    background-color: #e8e8e8;
    margin-top: 70px;
    margin-left: calc(100vw - 190px);
    text-align: center;
    transition: background-color 0.5s ease;
    cursor: pointer;
}

.logout:hover {
    background-color: red;
}

.widget {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    width: 60vw;
    height: fit-content;
    background-color: #27dbb1;
    display: none;
    transition: display 0.5s ease;
    z-index: 999; 
}

.back-blur {
    filter: blur(5px);
}

.template-select {
    margin-top: 25px;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.template-option > img {
    border-radius: 20px;
    width: 200px;
}

.template-option[active="true"] > img {
    width: 210px;
    box-shadow: 0 0 20px 10px gray;
}

.create-btn {
    background-color: #1e6b59;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 20px;
    width: fit-content;
    padding: 20px;
    cursor: pointer;
}

.center {
    display: flex;
    justify-content: center;
}

.lds-grid {
    z-index: 999; 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    width: 80px;
    height: 80px;
}
.lds-grid div {
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #1797b7;
    animation: lds-grid 1.2s linear infinite;
}
.lds-grid div:nth-child(1) {
    top: 8px;
    left: 8px;
    animation-delay: 0s;
}
.lds-grid div:nth-child(2) {
    top: 8px;
    left: 32px;
    animation-delay: -0.4s;
}
.lds-grid div:nth-child(3) {
    top: 8px;
    left: 56px;
    animation-delay: -0.8s;
}
.lds-grid div:nth-child(4) {
    top: 32px;
    left: 8px;
    animation-delay: -0.4s;
}
.lds-grid div:nth-child(5) {
    top: 32px;
    left: 32px;
    animation-delay: -0.8s;
}
.lds-grid div:nth-child(6) {
    top: 32px;
    left: 56px;
    animation-delay: -1.2s;
}
.lds-grid div:nth-child(7) {
    top: 56px;
    left: 8px;
    animation-delay: -0.8s;
}
.lds-grid div:nth-child(8) {
    top: 56px;
    left: 32px;
    animation-delay: -1.2s;
}
.lds-grid div:nth-child(9) {
    top: 56px;
    left: 56px;
    animation-delay: -1.6s;
}
@keyframes lds-grid {
    0%,
    100% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
}
